/*CSS FILE FOR ALL SALMON AMOEBIC GILL DISEASE TRACKER FILES*/

/* background colour */
body {
  background-color: #f5f7f8;
}

/* heading 2 text colour */
h2 {
  color:#4f7394 ;
}

/* alligning the text to the centre of the webpage */
section {
  text-align: center;
}

/* styling for the fish icon in header */
.fish {
  width: 80px;
  float: left;
  margin: 10px;
}

/* styling for the header and nav */

header {
  background-color: #aebecc ;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  border-bottom: #aebecc solid 4px;
  height: 80px;
  position: relative;
  z-index: 9999;
  }

.header-content{
  display: flex;
  align-items: center;
}

/* web title link */
.link {
  text-decoration: none; /* Removes the underlines from links */
  color: inherit; 
}

/*Styling for heading 1 text*/
h1 {
  margin: 0;
  color: #4f7394;
  font-size: 35px;
  }
  
  nav {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
  
  nav a {
    color: #4f7394;
    font-size: 22px;
    text-decoration: none;
  }

/* styling for the salmon farm image */
.farm {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
  background-image: url(../img/farm2.jpeg);
}
/* styling for text inside farm image */
.container {
  width: 100%;
  position: relative;
  background-image: url(img/farm2.jpeg);
  background-size: cover ;
}

.container .inside {
  position: absolute;
  width: 100%;
  background-color: #69829a81;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container .inside p{
  color: #f5f7f8;
  font-size: 40px;
  text-align: center;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .container .inside p {
    font-size: 18px; 
  }
}

/* About section */

p {
  font-family: Georgia;
  font-size: large;
}

.about {
  background-color: #aebecc;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dataflow {
  border-radius: 6px;
  max-width: 90%;
  height: auto;
  background-image: url(../img/dataflow.png);
}

.survey {
  display: inline-block;
  padding: 10px 20px;
  background-color: #183044;
  color: #aebecc;
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
  transition: background-color 0.3s, transform 0.2s; 
}

.agd {
  background-color: #aebecc;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* styling for the upload data section */

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #0000;
  background-color: #969b9c;
  padding: 20px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 18px;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  background-color: #4f7394;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.custom-file-input:hover {
  background-color: #0056b3;
}

.custom-file-input:active {
  background-color: #003d80;
}

.upload-btn {
  display: inline-block;
  margin-top: 10px;
  font-family: monospace;
}


/* Styling for visualize section */

.visuals {
  display: flex;
}

.sidebar {
  margin-right: 1em;
  margin-bottom: 1em;
  padding: .5em;
  height: 150vh;
  width: 15%;
  background-color: #69829a;
  color: #f8f8f8;
  flex: 1;
}
.sidebar h3 {
  border-bottom: 1px solid white;
  margin-bottom: .5em;
  font-size: 15pt;
  letter-spacing: .05em;
  text-align: left;
}


/* styling for the map image */
.map {
  border-radius: 6px;
  max-width: 80%;
  height: auto;
  margin-left: 20px;
  padding-bottom: 56.25%; 
  background-size: cover;
  background-image: url(../img/temporalMaps.png.png);
}



/* styling for the current data table */
table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
thead th {
  background-color: #99c3ff;
  color: #080808;
  padding: 10px;
  text-align: center;
}
tbody td {
  padding: 8px;
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: #cde0ff;
}
tbody tr:nth-child(odd) {
    background-color: #deeafe;
}
table, th, td {
  border: 1px solid #000;
}
tbody th {
  font-weight: bold;
}

footer {
  font-family:Georgia, serif; 
  color: #666; 
  font-size:14px; 
  font-style: italic;
}